  <div class="container px-4">
    <section class="w-100 d-flex justify-content-center">
      <div class="my-5 p-4 rounded-3 border border-black bg-light">
        <h2 class="title mb-4">Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <!-- Name input -->
          <div class="form-outline mb-4">
            <%= f.input :team_name,
                        required: true,
                        autofocus: true,
                        input_html: { class: "form-control border-black" }%>
          </div>

          <!-- Badge image input -->
          <div class="form-outline mb-4">
            <%= f.input :team_badge_image, as: :file,
                required: true,
                input_html: { class: "form-control border-black" }%>
          </div>

          <!-- Country image input -->
          <div class="form-outline mb-4">
            <%= f.input  :team_country,
                          collection: User::COUNTRY,
                          required: true,
                          autofocus: true,
                          input_html: { class: "form-control border-black" }%>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { class: "form-control border-black" }%>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password", class: "form-control border-black" } %>
          </div>

          <div class="form-outline mb-4">
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password", class: "form-control border-black" } %>
          </div>

          <div class="form-outline mb-4">
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password", class: "form-control border-black" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", :class => "btn btn-primary mb-4 w-100" %>
          </div>
        <% end %>

        <h5 class="title">Cancel my account</h5>

        <div class="form-actions">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,  :class => "btn btn-danger text-light mb-4 w-100"%>
        </div>

          <!-- Simple link -->
        <%= link_to "Back", :back %>
      </div>
    </section>
  </div>
