<div class="pageHero">
  <div class="wrapper">
    <h1 class="pageTitle">Your Account</h1>
  </div>
</div>

<div class="my_container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
  input_html: { class: "form__login-box"})  do |f| %>

    <%= f.error_notification %>

    <div class="wrapper">
      <h1>Creating a new account</h1>

      <div class="InnerWrapper">
        <!-- Name input -->
        <div class="form__group">
          <%= f.input :team_name,
                      placeholder: "Team name",
                      required: true,
                      autofocus: true%>
        </div>

        <!-- Email input -->
        <div class="form__group">
          <%= f.input :email,
                      placeholder: "Email Address",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email"}%>
        </div>

        <!-- Password input -->
        <div class="form__group">
          <%= f.input :password,
                      placeholder: "Password",
                      required: false,
                      input_html: { autocomplete: "current-password"}%>
        </div>

        <!-- Country image input -->
        <div class="form__group">
          <%= f.input  :team_country,
                        collection: User::COUNTRY,
                        required: true,
                        autofocus: true,
                        prompt: 'Select a country'%>
        </div>

        <!-- Badge image input -->
        <div class="form__group">
          <%= f.input :team_badge_image, as: :file,
                      placeholder: "Team badge",
                      required: true%>
        </div>

        <!-- Banner image input -->
        <div class="form__group">
          <%= f.input :team_banner_image, as: :file,
                      placeholder: "Team badge",
                      required: true%>
        </div>

        <!-- Submit button -->
        <div class="buttonWrap">
          <%= f.button :submit, "Sign in", :class => "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
