<div class="container px-4">
    <section class="w-100 d-flex justify-content-center">
      <div class="w-50 my-5 p-4 rounded-3 border border-black">
        <h2 class="title mb-4">Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-outline mb-4">
            <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form-control border-black" }%>
          </div>

          <!-- Submit button -->
          <%= f.button :submit, "Send me reset password instructions", :class => "btn btn-primary mb-4 w-100" %>

          <!-- Simple link -->
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </section>
</div>
