<div class="row justify-content-center">
  <% if !@players.first %>
    <h1>Sorry, there are no player's name, role or position : <%= params[:query].capitalize %></h1>
  <% elsif params[:query].present? %>
    <h1>Player's name, role or position : <%= params[:query].split.first.capitalize %></h1>
  <% else %>
    <h1>Players around the world</h1>
  <% end %>
  <p>Choose your next best player</p>
</div>

<div class="search-form-control form-group">
  <%= form_with url: players_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type a player's name, role or position"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="cards-and-map">
  <div class="cards">

      <% @players.each do |player| %>
          <div class="card-player">
            <%= cl_image_tag player.player_avatar_image %>
            <div class="card-player-infos">
              <div>
                <h2><%= link_to player.player_name, player_path(player) %></h2>
                <p><%= player.player_nationality%> - <em><%= player.player_description%></em>  </p>
              </div>
              <h2 class="price"><%= player.player_price %>€/Day</h2>
            </div>
          </div>
      <% end %>

  </div>

    <div style="width: 50%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
