
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: players_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a player's name, role or position"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="">
  <div class="cards">

      <% @players.each do |player| %>
          <div class="">
            <%= cl_image_tag player.player_avatar_image %>
            <div class="">
              <div>
                <h2><%= link_to player.player_name, player_path(player) %></h2>
                <p><%= player.player_nationality%> - <em><%= player.player_description%></em>  </p>
              </div>
              <h2 class=""><%= player.player_price %>€/Day</h2>
            </div>
          </div>
      <% end %>

  </div>


    <div
      data-controller="map"
      style="width: 50%; height: 600px;"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>

</div>
