
<div class="card-dashboard">
  <div class="col-sm-6">
    <div class="card-dashboard-user-profile">
      <div class="dash-user-pic">
        <%= cl_image_tag current_user.team_badge_image, class:"dash-img" %>
      </div>
      <div class="dash-user-profile">
        <h2><%= current_user.team_name %></h2>
        <h4><%= link_to "Edit profile", edit_user_registration_path(current_user) %></h4>
      </div>
    </div>
  </div>
    <div class="card-dashboard-bookings-players">
    <div>
      <h2>My Bookings</h2>
      <hr class="h-line" width="200" align="left">
    </div>
    <div class="row">
        <% @bookings.each do |booking| %>
          <div class="dashboard-card-product">
            <%= cl_image_tag booking.player.player_avatar_image %>
            <div class="card-product-infos">
              <h4> <%= link_to booking.player.player_name, booking_path(booking) %> </h4>
              <p>From <em><%= booking.start_date.strftime(" %m/%d/%Y") %></em> to <em><%=booking.end_date.strftime(" %m/%d/%Y") %></em></p>
              <p><%= booking.player.player_price %> €/day </p>
            </div>
          </div>
          <% end %>
    </div>
    <div>
      <h2>My Players</h2>
    </div>
    <hr class="h-line" width="200" align="left">
    <div class="row">
      <% @players.each do |player| %>
      <div class="dashboard-card-product">
          <%= cl_image_tag player.player_avatar_image %>
          <div class="card-product-infos">
              <h4> <%= link_to player.player_name, player_path(player) %> </h4>
              <p> <%= player.player_description.first(20)... %> </p>
              <p><%= player.player_price %> €/day </p>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
